* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav .upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0000FF;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 0;
}
nav .upper span {
  padding: 0 5px;
}
nav .upper span:first-child {
  margin-left: auto;
}
nav .lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}
nav .lower .container {
  justify-content: space-between;
}
nav .lower .container .logo img {
  width: 80px;
}
nav .lower .container .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .lower .container .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .lower .container .menu ul li {
  margin: 0 20px;
  text-transform: uppercase;
  list-style: none;
}
nav .lower .container .search-bar {
  margin-left: 20px;
  position: relative;
}
nav .lower .container .search-bar input {
  outline: 0;
  font-size: 18px;
  text-align: right;
  padding-right: 35px;
  width: 200px;
  border: 0;
  border-bottom: 2px solid #0000ff;
}
nav .lower .container .search-bar i {
  position: absolute;
  top: 5px;
  left: 90%;
}

.jumbo {
  width: 100%;
  height: 50vh;
  background-image: url("./../images/jumbotron.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .blue-bar {
  width: 100%;
  height: 100px;
  background-color: #0000FF;
  position: relative;
}
main .blue-bar .floating-poster {
  position: absolute;
  left: 11%;
  bottom: 10px;
}
main .blue-bar .floating-poster img {
  font-size: 0;
  border: 1px solid #ffffff;
}
main .container {
  padding: 50px 0;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}
main .container .floating-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  background-color: #0000ff;
  padding: 20px;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}
main .container .card {
  width: calc(100% / 7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
}
main .container .card .cover img {
  height: 100%;
}
main .container .card .card-title {
  padding-top: 5px;
  color: #ffffff;
  text-align: center;
  width: 90%;
}
main .container .card-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
main .container .card-detail .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(80% - 50px);
  margin-right: 50px;
}
main .container .card-detail .left .detail-title {
  margin-bottom: 15px;
}
main .container .card-detail .left .bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #55BA5A;
  border-bottom: 1px solid #000000;
  margin: 10px 0;
  color: #ffffff;
  width: 100%;
}
main .container .card-detail .left .bar div {
  padding: 10px 15px;
  color: #ffffff;
}
main .container .card-detail .left .bar div span {
  color: #5AD97E;
}
main .container .card-detail .left .bar div:first-child {
  margin-right: auto;
}
main .container .card-detail .left .bar div:last-child {
  color: #ffffff;
  border-left: 1px solid #000000;
}
main .container .card-detail .left .description {
  font-size: 14px;
  width: 100%;
}
main .container .card-detail .right {
  width: calc(20% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
main .comic-info {
  background-color: #F6F6F6;
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .comic-info a {
  color: #40A9DA;
  font-weight: 900;
}
main .comic-info a:hover {
  color: #ff0000;
}
main .comic-info .container {
  align-items: flex-start;
}
main .comic-info .container span {
  width: 100%;
}
main .comic-info .container h3 {
  font-size: 25px;
  margin-right: auto;
}
main .comic-info .container .talent {
  width: calc(100% / 2 - 50px);
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .comic-info .container .talent div {
  padding: 10px 0;
}
main .comic-info .container .talent ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}
main .comic-info .container .talent ul li {
  padding: 0 3px;
  list-style: none;
  white-space: nowrap;
}
main .comic-info .container .talent .art {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
main .comic-info .container .talent .art span {
  width: 30%;
  align-self: flex-start;
}
main .comic-info .container .talent .written {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
}
main .comic-info .container .talent .written span {
  width: 30%;
  align-self: flex-start;
}
main .comic-info .container .specs {
  width: calc(100% / 2 - 50px);
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .comic-info .container .specs div {
  padding: 10px 0;
}
main .comic-info .container .specs .series {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
main .comic-info .container .specs .series span:last-child {
  text-transform: uppercase;
}
main .comic-info .container .specs .price, main .comic-info .container .specs .sale-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
}
main.detail {
  background-color: #ffffff;
}

.upper-footer {
  background-color: #F6F6F6;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upper-footer .container {
  color: #D8D8D8;
}
.upper-footer .container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upper-footer .container ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-right: 1px solid #E3E3E3;
  padding: 10px;
  width: 300px;
}
.upper-footer .container ul li:first-child {
  border-left: 1px solid #E3E3E3;
}
.upper-footer .container ul li span {
  font-size: 12px;
  font-weight: 900;
  align-self: flex-start;
  text-transform: uppercase;
}
.upper-footer .container ul li img {
  height: 50px;
  filter: brightness(80%);
}

.lower-footer {
  background-image: url("./../images/footer-bg.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  overflow-y: hidden;
}
.lower-footer .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.lower-footer .container .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.lower-footer .container .links .li-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
}
.lower-footer .container .links ul {
  margin-right: 50px;
}
.lower-footer .container .links ul li {
  list-style: none;
}
.lower-footer .container .links ul li a {
  color: #6e6e6e;
  font-size: 10px;
}
.lower-footer .container .links ul li.li-title {
  margin-top: 20px;
}
.lower-footer .container .disclaimer {
  margin-top: 10px;
  font-size: 10px;
}
.lower-footer .container .disclaimer p {
  color: #636b6f;
}
.lower-footer .container .disclaimer a {
  color: blue;
}
.lower-footer .container #bg-logo {
  position: absolute;
  left: 100%;
  transform: translate(-100%);
}