main {
    background-color: $main_bg;
    @include flex(row,center,center);
    .container {
        padding: 50px 0;
        flex-wrap: wrap;
        .card {
            width: calc(100% / 5);
            height: 100%;
            @include flex(column, center, center);
            margin: 15px;

            .cover {
                img {
                    height: 100%;
                }
            }
            .card-title {
                padding-top: 5px;
                color: $main-txt;
                text-align: center;
                width: 90%;
            }
        }
    }
}

