$uppernav-bg: #0000FF;
$uppernav-txt: #ffffff;
$searchbox-border: #0000ff;

$floating-title-bg: #0000ff;
$floating-title-txt: #ffffff;

$main-bg: #333333;
$detail-bg: #ffffff;
$main-txt: #ffffff;

$statusbar-bg: #00ff00;
