$uppernav-bg: #0000FF;
$uppernav-txt: #ffffff;
$searchbox-border: #0000ff;

$floating-title-bg: #0000ff;
$floating-title-txt: #ffffff;

$main-bg: #333333;
$detail-bg: #ffffff;
$main-txt: #ffffff;

$statusbar-bg: #55BA5A;

$details-brd: #E3E3E3;
$detail-links: #40A9DA;

$upper-footer-bg: #F6F6F6;
$upper-footer-bg-home: #0000ff;
$upper-footer-txt: #D8D8D8;

$footer-links: rgb(110,110,110);
